<h1>heroe works!</h1>
<dl>
    <dt>Nombre:</dt>
    <dd>{{nombre}}</dd>
    <dt>Edad:</dt>
    <dd>{{edad}}</dd>
    <dt>Metodo:</dt>
    <dd>{{dimeDescripcion()}}</dd>
    <dt>Mayuscula:</dt>
    <dd>{{nombreEnMayuscula}}</dd>
</dl>
<input *ngIf="nombre==='ironman'" type="button" class="btn btn-primary mx-2" (click)="cambiarNombre()" value="Cambiar nombre"/>
<input *ngIf="edad===45" type="button" class="btn btn-primary mx-2" (click)="cambiarEdad()" value="Cambiar edad"/>
<input type="button" class="btn btn-primary mx-2" (click)="reset()" value="Reset"/>